{% extends layout('posts') %}


{% block content %}
    <!-- OVERRIDE post index -->
    <div id="posts">
        <div class="container">

            {% set posts = entries('posts').recent().paginate() %}

            {% include "anomaly.module.posts::posts/partials/posts" with {"posts": posts} %}
            {#
            {% include "pgidf.theme.another::posts/partials/posts" with {"posts": posts} %}
            #}

            {{ posts.links|raw }}

        </div>
    </div>
{% endblock %}
